[Desktop Entry]
Encoding=UTF-8
Name=BlacerCoin
Comment=BlacerCoin P2P Cryptocurrency
Comment[fr]=BlacerCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BlacerCoin, eşten eşe kriptografik sanal para birimi
Exec=blacercoin-qt %u
Terminal=false
Type=Application
Icon=blacercoin128
MimeType=x-scheme-handler/blacercoin;
Categories=Office;Finance;
